---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$unit: 24px;
$unit-small: $unit / 2;
$unit-large: $unit * 2;

$color-primary:   #4a8ec2;
$color-secondary: #2f4054;





* {
  margin:  0;
  padding: 0;
}

html {
  font-family: $font;
}

pre, code {
  font-family: monospace, monospace;
}

a {
  font-weight: bold;
  color: $color-primary;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

}





.c-page-head {
  overflow: hidden;
}

  .c-page-head__logo {
    float: left;
  }

  .c-page-head__nav {
    float: right;
  }





.c-logo {
  display: inline-block;
  width:  48px;
  height: 48px;
  background-image: url(/assets/img/sprites/sprite-logo.png);

  @media screen and (min-width: 45em) {
    background-position: -48px 0;
    width:  72px;
    height: 72px;
  }

  @media screen and (min-width: 64em) {
    background-position: 0 -72px;
    width:  220px;
    height: 105px;
  }

}





.c-lockup {
  display: table;
}

  .c-lockup__img,
  .c-lockup__text {
    display: table-cell;
    vertical-align: middle;
  }

  .c-lockup__img {
    padding-right: $unit-small;
  }

  .c-lockup__text {
    font-weight: normal;
    color: $color-secondary;
  }





.c-band {
  display: block;
  padding: $unit;
}

.c-band--small {
  padding: $unit-small;
}

.c-band--center {
  text-align: center;
}

.c-band--primary {
  background-color: $color-primary;

  &,
  a {
    color: #fff;
  }

}

.c-band--secondary {
  background-color: $color-secondary;

  &,
  a {
    color: #fff;
  }

}





.c-title-huge {
  font-weight: 100;
  font-size: 64px;
  line-height: 1.125;

  &.will-grow {
    font-size: calc( 24px + (64 - 24) * (100vw - 480px) / (1200 - 480)  );
  }

}
