<footer class="c-band  c-band--secondary
               c-page-foot">

  <div class="o-wrapper">

    <div class="o-layout">

      <div class="o-layout__item  u-3/12@xl c-page-foot__region">
        <h5 class="c-page-foot__heading">Help and Support</h5>
        <ul class="c-nav-tertiary">
          <li><a href="#">Training and Workshops</a></li>
          <li><a href="https://twitter.com/inuitcss">Twitter</a></li>
          <li><a href="mailto:csswizardry+inuitcss@gmail.com">Email</a></li>
          <li><a href="https://github.com/inuitcss/inuitcss/issues">GitHub Issues</a></li>
        </ul>
      </div>

      <div class="o-layout__item  u-3/12@xl c-page-foot__region">
        <h5 class="c-page-foot__heading">Foo Bar Baz</h5>
        <p>&copy; Harry Roberts {{ 'now' | date: "%Y"  }}</p>
      </div>

      <div class="o-layout__item  u-6/12@xl c-page-foot__region">
        <h5 class="c-page-foot__heading">Stay in Touch</h5>
        <p>inuitcss is an Apache-2.0 licensed CSS framework by Harry Roberts.</p>
      </div>

    </div>

  </div>

</footer>
