<footer class="c-band  c-band--secondary">

  <div class="o-wrapper">

    <div class="o-layout">
      <div class="o-layout__item  u-3/12@xl">
        <p>&copy; Harry Roberts 2016</p>
      </div>
      <div class="o-layout__item  u-3/12@xl">
        <p>&copy; Harry Roberts 2016</p>
      </div>
      <div class="o-layout__item  u-3/12@xl">
        <p>&copy; Harry Roberts 2016</p>
      </div>
      <div class="o-layout__item  u-3/12@xl">
        <p>&copy; Harry Roberts 2016</p>
      </div>
    </div>

  </div>

</footer>
