<header class="c-page-head">

  <div class="o-wrapper">

    <div class="c-lockup  c-page-head__logo">

      <a href="/" class="c-lockup__img" title="Back to inuitcss homepage">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="inuitcss logo" class="c-logo" />
      </a>

      <a href="https://github.com/inuitcss/inuitcss" class="c-lockup__text
        u-color-grey-light"
        title="View v{{ site.version }} of inuitcss on GitHub">v{{ site.version }}</a>

    </div>

    <nav class="c-nav-primary  c-page-head__nav">

      <a href="/" class="c-page__home">Home</a>
      <a href="/about/" class="c-page__about">About</a>
      <a href="/docs/" class="c-page__docs">Docs</a>
      <a href="/blog/" class="c-page__blog">Blog</a>
      <a href="{{ site.github  }}">GitHub</a>

    </nav>

  </div>

</header>
