<ul class="c-nav-secondary">

  <li class="c-nav-secondary__item">
    <a href="/docs/" class="c-nav-secondary__link">Home</a>

    <ul class="c-nav-secondary  c-nav-secondary--sub">
      <li class="c-nav-secondary__item">
        <a href="/docs/introduction/" class="c-nav-secondary__link">Introduction</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/reading-these-docs/" class="c-nav-secondary__link">Reading These Docs</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/getting-started/" class="c-nav-secondary__link">Getting Started</a>
      </li>
    </ul>

  </li>

  <li class="c-nav-secondary__item">
    <a href="/docs/settings" class="c-nav-secondary__link">Settings</a>

    <ul class="c-nav-secondary  c-nav-secondary--sub">
      <li class="c-nav-secondary__item">
        <a href="/docs/settings/config/" class="c-nav-secondary__link">Config</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/settings/global/" class="c-nav-secondary__link">Global</a>
      </li>
    </ul>

  </li>

  <li class="c-nav-secondary__item">
    <a href="/docs/tools" class="c-nav-secondary__link">Tools</a>

    <ul class="c-nav-secondary  c-nav-secondary--sub">
      <li class="c-nav-secondary__item">
        <a href="/docs/tools/functions/" class="c-nav-secondary__link">Functions</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/tools/mixins/" class="c-nav-secondary__link">Mixins</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/tools/widths/" class="c-nav-secondary__link">Widths</a>
      </li>
    </ul>

  </li>

  <li class="c-nav-secondary__item">
    <a href="/docs/generic" class="c-nav-secondary__link">Generic</a>

    <ul class="c-nav-secondary  c-nav-secondary--sub">
      <li class="c-nav-secondary__item">
        <a href="/docs/generic/box-sizing/" class="c-nav-secondary__link">Box Sizing</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/generic/normalize/" class="c-nav-secondary__link">Normalize.css</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/generic/reset/" class="c-nav-secondary__link">Reset</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/generic/shared/" class="c-nav-secondary__link">Shared</a>
      </li>
    </ul>

  </li>

  <li class="c-nav-secondary__item">
    <a href="/docs/elements" class="c-nav-secondary__link">Elements</a>
  </li>

  <li class="c-nav-secondary__item">
    <a href="/docs/objects" class="c-nav-secondary__link">Objects</a>

    <ul class="c-nav-secondary  c-nav-secondary--sub">
      <li class="c-nav-secondary__item">
        <a href="/docs/objects/media/" class="c-nav-secondary__link">Media object</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/objects/flag/" class="c-nav-secondary__link">Flag object</a>
      </li>
    </ul>
  </li>

  <li class="c-nav-secondary__item">
    <a href="/docs/components" class="c-nav-secondary__link">Components</a>

    <ul class="c-nav-secondary  c-nav-secondary--sub">
      <li class="c-nav-secondary__item">
        <a href="/docs/components/example/" class="c-nav-secondary__link">Example</a>
      </li>
    </ul>

  </li>

  <li class="c-nav-secondary__item">
    <a href="/docs/utilities" class="c-nav-secondary__link">Utilities</a>
  </li>

</ul>
