<ul class="c-nav-secondary">

  <li class="c-nav-secondary__item">
    <a href="/docs/" class="c-nav-secondary__link">Home</a>

    <ul class="c-nav-secondary  c-nav-secondary--sub">
      <li class="c-nav-secondary__item">
        <a href="/docs/introduction/" class="c-nav-secondary__link">Introduction</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/reading-these-docs/" class="c-nav-secondary__link">Reading These Docs</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/getting-started/" class="c-nav-secondary__link">Getting Started</a>
      </li>
    </ul>

  </li>

  <li class="c-nav-secondary__item">
    <a href="/docs/settings" class="c-nav-secondary__link">Settings</a>

    <ul class="c-nav-secondary  c-nav-secondary--sub">
      <li class="c-nav-secondary__item">
        <a href="/docs/settings/core/" class="c-nav-secondary__link">Core</a>
      </li>
    </ul>

  </li>

  <li class="c-nav-secondary__item">
    <a href="/docs/tools" class="c-nav-secondary__link">Tools</a>

    <ul class="c-nav-secondary  c-nav-secondary--sub">
      <li class="c-nav-secondary__item">
        <a href="/docs/tools/clearfix/" class="c-nav-secondary__link">Clearfix</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/tools/font-size/" class="c-nav-secondary__link">Font-size</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/tools/hidden/" class="c-nav-secondary__link">Hidden</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/tools/rem/" class="c-nav-secondary__link">Rem</a>
      </li>
    </ul>

  </li>

  <li class="c-nav-secondary__item">
    <a href="/docs/generic" class="c-nav-secondary__link">Generic</a>

    <ul class="c-nav-secondary  c-nav-secondary--sub">
      <li class="c-nav-secondary__item">
        <a href="/docs/generic/box-sizing/" class="c-nav-secondary__link">Box Sizing</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/generic/normalize/" class="c-nav-secondary__link">Normalize.css</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/generic/reset/" class="c-nav-secondary__link">Reset</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/generic/shared/" class="c-nav-secondary__link">Shared</a>
      </li>
    </ul>

  </li>

  <li class="c-nav-secondary__item">
    <a href="/docs/elements" class="c-nav-secondary__link">Elements</a>

    <ul class="c-nav-secondary  c-nav-secondary--sub">
      <li class="c-nav-secondary__item">
        <a href="/docs/elements/headings/" class="c-nav-secondary__link">Headings</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/elements/images/" class="c-nav-secondary__link">Images</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/elements/page/" class="c-nav-secondary__link">Page</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/elements/tables/" class="c-nav-secondary__link">Tables</a>
      </li>
    </ul>

  </li>

  <li class="c-nav-secondary__item">
    <a href="/docs/objects" class="c-nav-secondary__link">Objects</a>

    <ul class="c-nav-secondary  c-nav-secondary--sub">
      <li class="c-nav-secondary__item">
        <a href="/docs/objects/block/" class="c-nav-secondary__link">Block object</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/objects/box/" class="c-nav-secondary__link">Box object</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/objects/crop/" class="c-nav-secondary__link">Crop object</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/objects/flag/" class="c-nav-secondary__link">Flag object</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/objects/layout/" class="c-nav-secondary__link">Layout object</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/objects/list-bare/" class="c-nav-secondary__link">List-bare object</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/objects/list-inline/" class="c-nav-secondary__link">List-inline object</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/objects/media/" class="c-nav-secondary__link">Media object</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/objects/pack/" class="c-nav-secondary__link">Pack object</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/objects/ratio/" class="c-nav-secondary__link">Ratio object</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/objects/tables/" class="c-nav-secondary__link">Tables object</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/objects/wrapper/" class="c-nav-secondary__link">Wrapper object</a>
      </li>
    </ul>
  </li>

  <li class="c-nav-secondary__item">
    <a href="/docs/components" class="c-nav-secondary__link">Components</a>

    <ul class="c-nav-secondary  c-nav-secondary--sub">
      <li class="c-nav-secondary__item">
        <a href="/docs/components/example/" class="c-nav-secondary__link">Example</a>
      </li>
    </ul>

  </li>

  <li class="c-nav-secondary__item">
    <a href="/docs/utilities" class="c-nav-secondary__link">Utilities</a>

    <ul class="c-nav-secondary  c-nav-secondary--sub">
      <li class="c-nav-secondary__item">
        <a href="/docs/utilities/clearfix/" class="c-nav-secondary__link">Clearfix</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/utilities/headings/" class="c-nav-secondary__link">Headings</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/utilities/hide/" class="c-nav-secondary__link">Hide</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/utilities/print/" class="c-nav-secondary__link">Print</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/utilities/spacing/" class="c-nav-secondary__link">Spacing</a>
      </li>
      <li class="c-nav-secondary__item">
        <a href="/docs/utilities/widths/" class="c-nav-secondary__link">Widths</a>
      </li>
    </ul>

  </li>

</ul>
