{% if page.sub-content == 'about' %}
<ul class="c-nav-secondary">

  <li class="c-nav-secondary__item">
    <a href="/about/" class="c-nav-secondary__link">About</a>

    <ul class="c-nav-secondary  c-nav-secondary--sub">
      <li class="c-nav-secondary__item"><a href="/about/manifesto/" class="c-nav-secondary__link">Manifesto</a></li>
      <li class="c-nav-secondary__item"><a href="/about/team/" class="c-nav-secondary__link">Team</a></li>
    </ul>

  </li>

</ul>
{% endif %}

{% if page.sub-content == 'docs' %}

{% include nav-docs.html %}

{% endif %}

