<ul class="o-list-bare  c-nav-secondary">
{% if page.sub-content == 'about' %}

  <li class="o-list-bare__item  c-nav-secondary__item"><a href="/about/" class="c-nav-secondary__link">About</a></li>
  <li class="o-list-bare__item  c-nav-secondary__item"><a href="/about/manifesto/" class="c-nav-secondary__link">Manifesto</a></li>
  <li class="o-list-bare__item  c-nav-secondary__item"><a href="/about/team/" class="c-nav-secondary__link">Team</a></li>

{% endif %}

{% if page.sub-content == 'docs' %}

    {% for doc in site.docs %}
      <li class="o-list-bare__item  c-nav-secondary__item">
        <a href="{{ doc.url | prepend: site.baseurl }}" class="c-nav-secondary__link">{{ doc.title }}</a>
      </li>
    {% endfor %}

{% endif %}

</ul>
