/* ==========================================================================
   #NAV-SECONDARY
   ========================================================================== */

.c-nav-secondary {
  @include font-size(12px);
  background-color: color(secondary);

  @include mq($from: md) {
    @include font-size($inuit-global-font-size);
  }

}

    .c-nav-secondary__link {
      display: block;
      padding: $unit-tiny;
      border-bottom: 1px solid color(secondary-highlight);

      @include mq($from: md) {
        padding: $unit-small;
      }

      &,
      &:hover,
      &:focus {
        color: color(pale);
      }

    }
