/* ==========================================================================
   #AVATARS
   ========================================================================== */

.c-avatar {
  border-radius: 100%;
  width:  128px;
  height: 128px;
}

.c-avatar--small {
  width:  64px;
  height: 64px;
}

.c-avatar--large {
  width:  64px;
  height: 64px;
}
