/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Fixes odd inner spacing in IE7.
 */

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin:  0; /* [4] */
  cursor: pointer; /* [5] */
  overflow: visible; /* [6] */
  padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
  transition: $inuit-global-transition;
  border-radius: $inuit-global-radius;
}





/* Style variants
   ========================================================================== */

.c-btn--primary {
  background-color: $color-btn-bg;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none; /* [4] */
    color: $color-btn;
  }

  &:hover,
  &:focus {
    background-color: $color-btn-hover-bg;
  }

}

.c-btn--secondary {
  background-color: $color-btn-secondary-bg;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $color-btn-secondary;
  }

  &:hover,
  &:focus {
    background-color: $color-btn-secondary-hover-bg;
  }

}


/**
 * 1. Artificially increase specificity to combat leaky `.band--* a {}` rules.
 */

.c-btn--tertiary {
  background-color: $color-btn-tertiary-bg;

  &#{&}, /* [1] */
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $color-btn-tertiary;
  }

  &:hover,
  &:focus {
    color: $color-btn-tertiary;
  }

}





/* Size variants
   ========================================================================== */

.c-btn--small {
  padding: inuit-rem($inuit-global-spacing-unit-tiny) inuit-rem($inuit-global-spacing-unit-small);
}

.c-btn--large {
  padding: inuit-rem($inuit-global-spacing-unit) inuit-rem($inuit-global-spacing-unit-large);
}





/* Ghost buttons
   ========================================================================== */

/**
 * Ghost buttons have see-through backgrounds and are bordered.
 */

$btn-ghost-border-width: 2px;

.c-btn--ghost {
  border: $btn-ghost-border-width solid currentColor;
  padding: ($inuit-global-spacing-unit-small - $btn-ghost-border-width) ($inuit-global-spacing-unit - $btn-ghost-border-width);

  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
  }

  &.c-btn--small {
    padding: ($inuit-global-spacing-unit-tiny - $btn-ghost-border-width) ($inuit-global-spacing-unit-small - $btn-ghost-border-width);
  }

  &.c-btn--large {
    padding: ($inuit-global-spacing-unit - $btn-ghost-border-width) ($inuit-global-spacing-unit-large - $btn-ghost-border-width);
  }

  &.c-btn--primary {
    color: $color-btn-bg;

    &:hover,
    &:focus {
      color: $color-btn-hover-bg;
    }

  }

  &.c-btn--secondary {
    color: $color-btn-secondary-bg;

    &:hover,
    &:focus {
      color: $color-btn-secondary-hover-bg;
    }

  }

  &.c-btn--tertiary {
    color: $color-btn-tertiary-bg;

    &:hover,
    &:focus {
      color: $color-btn-tertiary-hover-bg;
    }

  }

}
