/* ==========================================================================
   #NAV-PRIMARY
   ========================================================================== */

.c-nav-primary {
  line-height: 48px;

  @include mq($from: md) {
    line-height: 72px;
  }

  @include mq($from: lg) {
    line-height: 105px;
  }

}

    .c-nav-primary__link {
      display: inline-block;
      transition: $inuit-global-transition;

      @include mq($from: md) {
        $border-width: 1px;

        border: $border-width solid transparent;
        border-radius: $inuit-global-radius;
        line-height:   $unit-large - (2 * $border-width);
        padding-right: $unit       - (2 * $border-width);
        padding-left:  $unit       - (2 * $border-width);
        text-decoration: none;
      }

      &:hover,
      &:focus {
        border-color: currentColor;
      }

    }
