/* ==========================================================================
   #PAGE-HEAD
   ========================================================================== */

.c-page-head {
  @include clearfix();
  padding-top:    $unit;
  padding-bottom: $unit;
}

  .c-page-head__logo {
    float: left;
  }

  .c-page-head__nav {
    float: right;
  }

