/* ==========================================================================
   #BANDS
   ========================================================================== */

/**
 * Long-form comment.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line-comments like this.
 */

.c-band {
  display: block;
  padding-top:    $inuit-global-spacing-unit;
  padding-bottom: $inuit-global-spacing-unit;

  > :last-child {
    margin-bottom: 0;
  }

}

.c-band--small {
  padding-top:    $inuit-global-spacing-unit-small;
  padding-bottom: $inuit-global-spacing-unit-small;
}

.c-band--center {
  text-align: center;
}

.c-band--primary {
  background-color: $color-band-primary-bg;

  &,
  a {
    color: $color-band-primary;
  }

}

.c-band--secondary {
  background-color: $color-band-secondary-bg;

  &,
  a {
    color: $color-band-secondary;
  }

}
