/* ==========================================================================
   #BIO-MINI
   ========================================================================== */

.c-bio-mini {
  padding: $unit;
  background-color: color(primary);
  color: color(pale);
  border-radius: $inuit-global-radius;
}
