/* ==========================================================================
   #PAGE-HEAD
   ========================================================================== */

.c-page-head {
  overflow: hidden;
}

  .c-page-head__logo {
    float: left;
  }

  .c-page-head__nav {
    float: right;
  }

