/* ==========================================================================
   #LOGO
   ========================================================================== */

.c-logo {
  display: inline-block;
  width:  48px;
  height: 48px;
  background-image: url(/assets/img/sprites/sprite-logo.png);

  @include mq($from: md) {
    background-position: -48px 0;
    width:  72px;
    height: 72px;
  }

  @include mq($from: lg) {
    background-position: 0 -72px;
    width:  220px;
    height: 105px;
  }

}
