/* ==========================================================================
   #NAV-SECONDARY
   ========================================================================== */

.c-nav-secondary {
  @include font-size(12px);
  list-style: none;
  margin-left: 0;
  background-color: color(secondary);
  font-weight: bold;

  @include mq($from: md) {
    @include font-size($inuit-global-font-size);
  }

}

.c-nav-secondary--sub {
  margin-left: $unit-small;
  font-weight: normal;

  @include mq($from: md) {
    margin-left: $unit;
  }

}

    .c-nav-secondary__link {
      display: block;
      padding: $unit-tiny;
      border-bottom: 1px solid color(secondary-highlight);

      @include mq($from: md) {
        padding: $unit-small;
      }

      &,
      &:hover,
      &:focus {
        color: color(pale);
      }

    }
