/* ==========================================================================
   #NAV-PRIMARY
   ========================================================================== */

.c-nav-primary {
  line-height: 48px;

  @include mq($from: md) {
    line-height: 72px;
  }

  @include mq($from: lg) {
    line-height: 105px;
  }

}
